:root {
  --principal-font: "Great Vibes", cursive;
  --secundary-font: "Marcellus", serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  font-family: var(--principal-font);
  background-image: url("../images/galaxy2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.scroll-container {
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.slides {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  scroll-snap-align: start;
}

.centered-content {
  text-align: center;
}

.sips {
  font-size: 3.5rem;
}

.heart {
  color: red;
  font-size: 6rem;
}

.img-height{
  max-height: 1080px;
}

.carousel-item img{
  height: 450px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

p.card-text{
  font-size: 2.1rem;
  font-family: var(--secundary-font);
}

.fade-up-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}

.fade-up-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}

