:root {
  --principal-font: "Great Vibes", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--principal-font);
  background-image: url("../images/galaxy2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
  height: 100vh;
}

.page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.centered-content {
  text-align: center;
}

.sips {
  font-size: 7rem;
}

.heart {
  color: red;
  font-size: 6rem;
}
